{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/150x150" alt="" class="img-rounded img-responsive"/>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{ profile_user.username }}</h4>
                        <p>
                        {% if profile_user != request.user %}
                            <div class="btn-group">
                                <form action="{{ request.path }}" method="post">
                                    {% csrf_token %}
                                    <input hidden name="toggle_follow" value="{{ profile_user.username.id }}">
                                    <button type="submit" class="btn btn-primary">{{ follows|yesno:"Unfollow,Follow" }}</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {% if latest_tweets %}
            <ul class="timeline">
            {% for tweet in latest_tweets %}
                <li class="timeline-inverted">
                    <div class="timeline-badge primary"><a title="{{ tweet.pub_datetime|timesince }} ago"><i
                            class="glyphicon glyphicon-time invert" id=""></i></a></div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <div class="row">
                                <div class="col-xs-2">
                                    <img class="img-responsive img-rounded"
                                         src="http://placehold.it/40x40">
                                </div>
                                <div class="col-xs-8">
                                    <a href="{% url 'profile' id=tweet.profile.user.id %}">{{ tweet.profile.user.username }} </a> shared {{ tweet.pub_datetime|timesince }} ago
                                </div>
                            </div>
                        </div>
                        <div class="timeline-body">
                            <p>{{ tweet.message }}</p>

                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% else %}
            <div class="alert alert-info">There is no latest tweets</div>
            {% endif %}
        </div>
    </div>

{% endblock %}
